<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Badges</title>
    <link rel="stylesheet" href="../CSS/color.css">
    <link rel="stylesheet" href="../CSS/badges.css">
    <link rel="stylesheet" href="../CSS/layout.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.1/dist/sketchy/bootstrap.min.css">
</head>
<header>
    <div th:insert="partials.html :: nav-bar"></div>
</header>
<body class="bg-ruby">
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">
                    <img src="../../capstone_IMGs/badges/badge-default.png" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img src="../../capstone_IMGs/badges/badge-apple.jpeg" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img src="../../capstone_IMGs/badges/badge-developer.png" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
        <!--    ////-->
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img src="../../capstone_IMGs/badges/badge-einstein.jpeg" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img src="../../capstone_IMGs/badges/badge-joan.jpeg" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img src="../../capstone_IMGs/badges/badge-king.webp" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
        <!--    //////-->
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img src="../../capstone_IMGs/badges/badge-masterkey.jpeg" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img src="../../capstone_IMGs/badges/badge-socrates.jpeg" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img src="../../capstone_IMGs/badges/badge-pearl.avif" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>