<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="partials/header :: head">

    </div>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Badges</title>
    <link rel="stylesheet" th:href="@{/CSS/color.css}">
    <link rel="stylesheet" th:href="@{/CSS/badges.css}">
    <link rel="stylesheet" th:href="@{/CSS/layout.css}">
</head>
<header>
    <div th:insert="partials/navbar :: nav-bar"></div>
</header>
<body class="bg-ruby">
<div class="container">
    <h1 class="mt-2">
        Badges
    </h1>
    <div class="row mt-2">
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img th:src="@{/capstone_IMGs/badges/badge-default.png}" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Default</h5>
                    <h6 class="card-subtitle text-muted">unlock by</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Creating an account</p>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img th:src="@{/static/capstone_IMGs/badges/badge-apple.jpeg}" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Apple</h5>
                    <h6 class="card-subtitle text-muted">unlock by</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Get 1 Comment</p>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img th:src="@{/static/capstone_IMGs/badges/badge-developer.png}" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Monkey Wizard</h5>
                    <h6 class="card-subtitle text-muted">unlock by</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Dev badge.</p>
                </div>
            </div>
        </div>
        <!--    ////-->
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img th:src="@{/static/capstone_IMGs/badges/badge-einstein.jpeg}" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Einstein</h5>
                    <h6 class="card-subtitle text-muted">unlock by</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Get 25 likes</p>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img th:src="@{/static/capstone_IMGs/badges/badge-joan.jpeg}" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Joan</h5>
                    <h6 class="card-subtitle text-muted">unlock by</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Get 10 followers</p>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img src="../../static/capstone_IMGs/badges/badge-king.webp" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">King</h5>
                    <h6 class="card-subtitle text-muted">unlock by</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Get 20 followers</p>
                </div>
            </div>
        </div>
        <!--    //////-->
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img src="../../static/capstone_IMGs/badges/badge-masterkey.jpeg" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Shakespeare Monkey</h5>
                    <h6 class="card-subtitle text-muted">unlock by</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">unlock all badges(excluding dev badge)</p>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img src="../../static/capstone_IMGs/badges/badge-socrates.jpeg" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Socrates</h5>
                    <h6 class="card-subtitle text-muted">unlock</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Follow 5 users</p>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header badge-img">
                    <img src="../../static/capstone_IMGs/badges/badge-pearl.avif" alt="apple" class="badge-img">
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Pearl</h5>
                    <h6 class="card-subtitle text-muted">unlock by</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Get 1 follower</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>