<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="partials/header :: head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>

    <!--    Custom bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.1/dist/sketchy/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/color.css">
</head>
<div th:insert="partials/navbar :: nav-bar"></div>
<body>


<div class="container">
    <div class="row justify-content-center">
        <div class="text-center">
            <h1>Create Verse</h1>
            <form method="post" class="card-body">
                                    <span class="input-icon icon-end">
                                        <textarea rows="3" class="form-control"
                                                  placeholder="Post a new message"></textarea>
                                    </span>
                <div class="pt-1 float-end">
                    <a href="" class="btn btn-primary btn-sm waves-effect waves-light">Submit</a>
                </div>

            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>