<div th:fragment="carousel" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active img">
                <img th:src="@{/capstone_IMGs/carousel-img/test1.jpeg}" class="d-block h-40" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h4 class="r-text open-sans-text"><strong>
                        test
                    </strong></h4>
                </div>
            </div>
            <div class="carousel-item">
                <img th:src="@{/capstone_IMGs/carousel-img/test2.jpeg}" class="d-block h-40" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h4 class="r-text open-sans-text"><strong>
                        test
                    </strong></h4>
                </div>
            </div>
            <div class="carousel-item">
                <img th:src="@{/capstone_IMGs/carousel-img/test1.jpeg}" class="d-block h-40" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h4 class="r-text open-sans-text"><strong>
                        test
                    </strong></h4>
                </div>
            </div>
        </div>
    </div>
</div>