<div th:fragment="footer" xmlns:sec="http://www.w3.org/1999/xhtml">
  <br>
  <br>
  <div>
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
              <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
            </svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted">© 2023 Sonnet Studio</span>
        </div>
        <div class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <div class="ms-3">
            <div class="card-1">
              <a class="social-link1" th:href="@{https://www.linkedin.com/in/rick-morales01/}">
                  <img th:src="@{/capstone_IMGs/selfie/rick.png}" class="footer-pic" alt="...">
              </a>
              <a class="social-link2" th:href="@{http://www.linkedin.com/in/damian-solis-210-}">
                  <img th:src="@{/capstone_IMGs/selfie/damian.png}" class="footer-pic" alt="...">
              </a>
              <a class="social-link3" th:href="@{https://whatismyipaddress.com/banned}">
                  <img th:src="@{/capstone_IMGs/selfie/kurt.png}" class="footer-pic" alt="...">
              </a>
              <a class="social-link4" th:href="@{https://www.linkedin.com/in/jesse-dorman1/}">
                  <img th:src="@{/capstone_IMGs/selfie/jessie.png}" class="footer-pic" alt="...">

              </a>
              <a class="social-link5">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                  <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>