<div th:fragment="nav-bar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary shadow">
            <div class="container-fluid">
                <!--Logo-->
                <a class="navbar-brand" th:href="@{/}">
                    <div>
                        <img th:src="@{/capstone_IMGs/logo-skull.jpg}" alt="logo" class="logo-img">
                    </div>
                </a>
                <div>
                    <h1> Sonnet Studio </h1>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

                    <div sec:authorize="isAuthenticated()">

                        <ul class="navbar-nav  mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active text-body" aria-current="page"
                                   th:href="@{/explore}">Explore</a>
                            <li class="nav-item">
                                <a class="nav-link active text-body" aria-current="page" th:href="@{/create}">Create
                                    Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-body" th:href="@{/profile}">View Profile</a>
                            </li>
                            <li class="nav-item">
                                <form th:action="@{/logout}" th:method="post">
                                    <li class="nav-item">
                                        <a class="nav-link active text-body" type="submit">Logout</a>
                                    </li>
                                </form>
                            </li>
                        </ul>
                        <div>
                        </div>
                    </div>

                    <div sec:authorize="!isAuthenticated()">
                        <ul class="navbar-nav  mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link text-body" th:href="@{/sign-up}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-body" th:href="@{/login}">Login</a>

                            </li>
                        </ul>
                        <div>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </header>
</div>
