<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <div th:replace="partials/head :: head">

    </div>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in</title>

    <!--    Custom bootstrap-->

    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootswatch@5.3.1/dist/sketchy/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/CSS/color.css}">

</head>
<div th:insert="partials/navbar :: nav-bar"></div>

<body style="background-color: rgb(210 160 58)">

<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
            <br>
            <br>
            <div class="card">
                <div class="card-body p-4">

                    <div class="text-center mb-4">
                        <h4 class="text-uppercase mt-0">Sign In</h4>
                    </div>

                    <div th:if="${param.error}">-->
                        Invalid Username and Password.
                    </div>

                    <form th:action="@{/login}" method="post">
                        <div class="mb-3">
                            <label for="floatingInput">Username</label>
                            <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input class="form-control" type="password" name="password" required="" id="password"
                                   placeholder="Enter your password">
                        </div>

                        <div class="mb-3 d-grid text-center">
                            <button class="btn btn-primary" type="submit"> Log In</button>
                        </div>
                    </form>

                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 text-center">
                    <p class="text-muted">Don't have an account? <a href="/sign-up" class="text-dark ms-1"><b>Sign Up</b></a></p>
                </div>
            </div>


        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>