@import "badges.css";
@import "color.css";

.h1-SonnetStudio{
    margin-top: 0;
    margin-bottom: 0;
}

.page-wrapper{
    display: flex;
    min-height: 100dvh;
    flex-direction: column;

}

.side-panel {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: rgb(164 81 0 / 39%);
    backdrop-filter: blur(10px);
    transition: right 0.3s;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    overflow-y: auto; /* for content scrolling */
    border-radius: 2%;
    border: solid;

}


.side-panel::before,
.side-panel::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 100%;
    background-color: rgb(164 81 0 / 39%);
    backdrop-filter: blur(10px);
    border-radius: 2%;
    border: solid;
}

.side-panel::before {
    left: -24px;
}

.side-panel::after {
    right: -24px;
}

.side-panel.open {
    right: 0;
}

.btn-md{
    width: 7rem;

    color: white;
}

.profile-card{
    background: linear-gradient(to right,
    rgba(223, 105, 25, 1) 0%,
    rgba(223, 105, 25, 0.83) 16.66%,
    rgba(223, 105, 25, 0.66) 33.33%,
    rgba(223, 105, 25, 0.5) 50%,
    rgba(223, 105, 25, 0.33) 66.66%,
    rgba(223, 105, 25, 0.16) 83.33%,
    rgba(223, 105, 25, 0) 100%);
    border-style: solid;
    border-radius: 2rem;

}

/* test */


/* end */

.bg-color-index{
    background-color: #D7B55F;
    height: 100%;
}

.card-index{
    height: 15rem;
}

.blurry-bg {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

/* Testing */

.a-1{
    margin-left: 12px;
}

.like-space{
    padding-left: 10px;
}

.card1 {
    height: 13rem;
    transition: all 0.4s;
    border-radius: 1rem;
    box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.705);
    font-size: 20px;
    font-weight: 900;
}

.card1:hover {
    border-radius: 1rem;
    /*cursor: pointer;*/
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    background: #4E5D6C;
}

.first-content1 {
    border-style: solid;
    border-color: darkorange;
    overflow: hidden;
    background-color: #2D4355;
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 1rem;
}

.card1:hover .first-content1 {
    height: 0px;
    opacity: 0;
}

.second-content1 {
    overflow: hidden;
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    transition: all 0.4s;
    font-size: 15px!important;
    transform: rotate(90deg) scale(-1);
}

.card1:hover .second-content1 {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}

.bg-index2{
    background-color: #1a3f5e;
}

/*Beta test*/

.card-1 {
    display: flex;
    height: 5rem;
    width: 25rem;
}

.card-1 svg {
    position: absolute;
    display: flex;
    width: 35%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
}

.card-1 .social-link1,.card-1 .social-link2,.card-1 .social-link3,.card-1 .social-link4,.card-1 .social-link5  {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
}

.card-1 svg {
    transform: scale(1);
}

.card-1 .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
}

.card-1 .social-link2:hover {
    background-color: #00ccff;
    animation: bounce_613 0.4s linear;
}

.card-1 .social-link3:hover {
    background-color: #5865f2;
    animation: bounce_613 0.4s linear;
}

.card-1 .social-link4:hover {
    background-color: #0765FF;
    animation: bounce_613 0.4s linear;
}

.card-1 .social-link5:hover{
    background-color: #080808;
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.radius-card-c{
    border-radius: 2rem 2rem 0rem 0rem!important;
}

.search-panels {
    --default-color: #9e9e9e;
    --color-text: #ccc;
    --color-active: #DF6919;
    --color-active-input: #f5f5f5;
    --transition: 150ms cubic-bezier(0.4,0,0.2,1);
    --width-input: 200px;
}

.search-group {
    position: relative;
}

.input {
    width: 100%;
    border: solid 1.5px var(--default-color);
    border-radius: 80px;
    background: rgb(255 255 255 / 10%);
    backdrop-filter: blur(10px);
    padding: 1rem;
    padding-right: 3rem;
    font-size: 1rem;
    color: var(--color-active-input);
    transition: border var(--transition);
}

.enter-label {
    position: absolute;
    left: 15px;
    color: var(--default-color);
    pointer-events: none;
    transform: translateY(1rem);
    transition: var(--transition);
}

.enter-label {
    color: var(--default-color);
    pointer-events: none;
}

.input:focus, input:valid {
    outline: none;
    /*border: 1.5px solid var(--color-active);*/
}

.input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: var(--color-active);
    border-radius: 20px;
    padding: .2em .6em;
    color: var(--color-text);
}

.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1em;
    right: 80%;
    border-radius: 100%;
    transition: 300ms cubic-bezier(0.4,0,0.2,1);
    transition-delay: 100ms;
    opacity: 0;
}

.input:focus ~ .btn-box, input:valid ~ .btn-box {
    right: 10%;
    opacity: 1;
    transition-delay: 0s;
    transition: var(--transition);
}

.input:not(:focus) ~ .btn-box, input:not(:valid) ~ .btn-box {
    transition-property: right, opacity;
    transition-delay: 300ms;
}

.input:focus ~ .btn-box:hover, input:valid ~ .btn-box:hover {
    transform: scale(1.2);
}

.input:focus ~ .btn-box:hover:active, input:valid ~ .btn-box:hover:active {
    transform: scale(1);
}

.btn-search {
    position: relative;
    cursor: pointer;
    background-color: var(--color-active);
    width: 2em;
    height: 2em;
    top: 2.5px;
    border: none;
    border-radius: 100%;
    padding: 0;
    transition: var(--transition);
}

.btn-search:active {
    transform: scale(1);
}

.btn-search svg {
    position: absolute;
    top: 25%;
    left: 25%;
    fill: var(--color-text);
    width: 12px;
    height: 12px;
}



.contents {
    animation: slideIn 0.5s forwards;
    opacity: 0;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.navbar-toggler{
    border-style: none;
    background-color: rgba(0, 0, 0, 0.27);

}

/* TESTING */
.contents-reverse {
    display: inline-block;
    opacity: 0;
    transform: translateX(100%);
    animation: slide-in1 1s forwards;
}

@keyframes slide-in1 {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.form-custom{
    background-color: unset!important;
    color: whitesmoke!important;
}

.col-big{
    flex: 0 0 auto;
    width: 89.666667%;
}

.col-sm{
    flex: 0 0 auto;
    width: 10.333333%;
}

/* Testing */

.wrapper {
    padding: unset!Important;
    display: inline-flex;
    list-style: none;
}

.wrapper .icon1 {
    position: relative;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon1:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon1:hover span,
.wrapper .icon1:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #DF6919;
    color: #fff;
}

/* button edit */
.custom-button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #DF6919;
    transition: background 0.3s, color 0.3s;
}

.custom-button .text1 {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
    transition: transform 0.3s, color 0.3s;
}

.custom-button .icon1 {
    position: absolute;
    border-left: 1px solid #f5f5f5;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.3s, border-left 0.3s, transform 0.3s;
}

.custom-button svg {
    width: 15px;
    fill: #eee;
}

.custom-button:hover {
    background: #f36709;
}

.custom-button:hover .text1 {
    color: transparent;
}

.custom-button:hover .icon1 {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.custom-button:focus {
    outline: none;
}

.custom-button:active .icon1 svg {
    transform: scale(0.8);
}

.text1{
    /*width: 150px;*/
    line-height: 50px;
    left: -40px;
}

.card-size1{
    height: 41rem;
    border-radius: 2rem;
}

.card-2{
    background-color: rgb(255 255 255 / 50%);
    border-radius: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
}

.card-radius {
    border-radius: 2rem;
}

.nav-link {
    background-image: linear-gradient(
            to right,
            white,
            white 50%,
            white 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.nav-link:before {
    content: '';
    background: white;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    background-position: 0;
}

.nav-link:hover::before {
    width:100%;
}

.carousel.slide {
    height: 100%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item {
    height: 100%;
}

.carousel .carousel-inner .carousel-item > img:first-of-type {
    height: 100%;
    object-fit: cover;
}

.video-background {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.slow-video {
    playback-rate: 0.5; /* Slow down the video to half its normal speed */
}

.content {
    z-index: 1;
    position: relative;
    color: #ffffff; /* Adjust the text color for visibility */
}
