@import "badges.css";
@import "color.css";

.page-wrapper{
    display: flex;
    min-height: 100dvh;
    flex-direction: column;

}

.side-panel {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: rgb(164 81 0 / 39%);
    backdrop-filter: blur(10px);
    transition: right 0.3s;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    overflow-y: auto; /* for content scrolling */
    border-radius: 2%;
    border: solid;

}


.side-panel::before,
.side-panel::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 100%;
    background-color: rgb(164 81 0 / 39%);
    backdrop-filter: blur(10px);
    border-radius: 2%;
    border: solid;
}

.side-panel::before {
    left: -24px;
}

.side-panel::after {
    right: -24px;
}

.side-panel.open {
    right: 0;
}

.btn-md{
    width: 7rem;

    color: white;
}

.profile-card{
    border-style: solid;
}

/* test */
.icon-container {
    position: relative;
    width: 200px;
    height: 50px;
    overflow: hidden;
}

.icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    position: absolute;
    left: 0;
    transition: left 0.3s ease;
}

.text {
    width: 150px;
    height: 50px;
    line-height: 50px;
    /*color: #fff;*/
    position: absolute;
    left: -150px;
    transition: left 0.3s ease;
}

.icon-container:hover .icon {
    left: 150px;
}

.icon-container:hover .text {
    left: 0;
}

.bg-color-index{
    background-color: #D7B55F;
    height: 100%;
}

.card-index{
    height: 15rem;
}

.blurry-bg {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

/* Testing */

.card1 {
    height: 13rem;
    transition: all 0.4s;
    border-radius: 1rem;
    box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.705);
    font-size: 20px;
    font-weight: 900;
}

.card1:hover {
    border-radius: 1rem;
    /*cursor: pointer;*/
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    background: #4E5D6C;
}

.first-content1 {
    border-style: solid;
    border-color: darkorange;
    overflow: hidden;
    background-color: #2D4355;
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 1rem;
}

.card1:hover .first-content1 {
    height: 0px;
    opacity: 0;
}

.second-content1 {
    overflow: hidden;
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    transition: all 0.4s;
    font-size: 15px!important;
    transform: rotate(90deg) scale(-1);
}

.card1:hover .second-content1 {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}

.bg-index2{
    background-color: #1a3f5e;
}

/*Beta test*/

.card-1 {
    display: flex;
    height: 70px;
    width: 25rem;
}

.card-1 svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
}

.card-1 .social-link1,.card-1 .social-link2,.card-1 .social-link3,.card-1 .social-link4,.card-1 .social-link5  {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
}

.card-1 svg {
    transform: scale(1);
}

.card-1 .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
}

.card-1 .social-link2:hover {
    background-color: #00ccff;
    animation: bounce_613 0.4s linear;
}

.card-1 .social-link3:hover {
    background-color: #5865f2;
    animation: bounce_613 0.4s linear;
}

.card-1 .social-link4:hover {
    background-color: #0765FF;
    animation: bounce_613 0.4s linear;
}

.card-1 .social-link5:hover{
    background-color: #080808;
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}