<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="partials/head :: head"></div>
    <title>Sonnet Studio (landing page)</title>
</head>
<div th:insert="partials/navbar :: nav-bar"></div>
<body class="bg-gold">
<div class="border-bottom border-dark">
    <div class="container">
        <div class="row py-5">
            <div class="col">
                <h1> SONNET STUDIOS </h1>
                <p> Dive into a universe where words dance to the rhythm of your soul! LyricVerse beckons you into a
                    world where lyrics transform into conversations, where your poetic expressions find a global stage,
                    and where every word resonates like a chord in a heart-stirring melody.</p>
            </div>
            <div class="col">
                <div class="card" style="height: 100%">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="bg-color-index">
    <div class="container">
        <div class="row pt-5">
            <div class="col-4">
                <h3> Test </h3>
                <h1> Testing</h1>
                <br>
                <p>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolor eaque illo nesciunt obcaecati optio perspiciatis quam repellendus, rerum saepe sapiente suscipit voluptatibus. Cupiditate, dolorem inventore non perspiciatis vitae voluptates.</span><span>Ab accusamus accusantium amet dolorum eius eligendi, eos eveniet ex harum illum inventore laboriosam laborum magnam magni maiores odit officia pariatur quae qui quia suscipit tenetur ullam unde voluptate voluptatibus.</span>
                </p>
            </div>
            <div class="col-8">
                <div class="row pt-5">
                    <div class="col">
                        <div class="card card-index">
                            <div class="card-body">
                                <h5 class="card-title">Share Your Muse</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-index">
                            <div class="card-body">
                                <h5 class="card-title">Connect through Lyrics</h5>
                                <p class="card-text">Engage in vibrant discussions, explore diverse perspectives, and
                                    witness the magic when words collide and creativity sparks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-index">
                            <div class="card-body">
                                <h5 class="card-title">Community Spirit</h5>
                                <p class="card-text">Be part of a tight-knit community of music lovers, lyric
                                    enthusiasts, and poets. Discover new artists, discuss timeless classics, and make
                                    meaningful connections.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col">
                        <div class="card card-index">
                            <div class="card-body">
                                <h5 class="card-title">Real-Time Feedback</h5>
                                <p class="card-text">Watch as your lyrics come to life with real-time comments and
                                    reactions. Feel the pulse of the crowd as they resonate with your words.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-index">
                            <div class="card-body">
                                <h5 class="card-title">Universal Language</h5>
                                <p class="card-text">Lyrics transcend boundaries. Explore verses from different cultures, languages, and genres, celebrating the beauty of music that unites us all.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-index">
                            <div class="card-body">
                                <h5 class="card-title">Safe Space</h5>
                                <p class="card-text">Express yourself without judgment. LyricVerse is your sanctuary to share without fear, connect without barriers, and collaborate without limits.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div th:insert="partials/carousel :: carousel"></div>-->
<div th:insert="partials/footer :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>