<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="partials/head :: head">
    <title>Sonnet Studio (landing page)</title>
</head>
<div th:insert="partials/navbar :: nav-bar"></div>
<body>
<!--1st Div-->
<div class="video-background shadow">
    <div class="content">
        <div class="border-bottom border-dark" id="hero">
            <div class="container">
                <div class="row py-5 contents">
                    <div class="text-center">
                        <div class="">
                            <div class="font-title pb-4">
                                <span> Have you ever wanted to be a Songwriter? </span>
                            </div>
                            <br>
                            <div class="p-text pb-3">
                                <span> If you are passionate about songwriting dive into our vibrant musical community!
                                    <br>
                                    Share your lyrics, get expert feedback, and fine-tune your songs effortlessly.
                                </span>
                            </div>
                        </div>
                        <br><br><br>
                    </div>
                    <div class="row text-center pb-4 pt-3">
                        <div class="col">
                            <a th:href="@{/sign-up}" sec:authorize="!isAuthenticated()">
                                <button data-text="Awesome" class="button">
                                    <span class="actual-text">&nbsp;Sign&nbsp;Up&nbsp;Now!&nbsp;</span>
                                    <span class="hover-text" aria-hidden="true">&nbsp;Sign&nbsp;Up&nbsp;Now!&nbsp;</span>
                                </button>
                            </a>
                            <br><br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- 2nd Div-->
<div class="bg-index2">
<div class="container">
    <div class="row text-center pt-5 pb-5">
        <h3 class="pb-4">
            Why Join Us?
        </h3>
        <div class="text-container row text-center">
            <div id="text1" class="hidden">
                <h1>Express Yourself:</h1>
                <h3>Pour your heart out and let your lyrics resonate.</h3>
            </div>
            <div id="text2" class="hidden">
                <h1>AI Assistance:</h1>
                <h3>Craft your masterpiece with the help of our intuitive AI.</h3>
            </div>
            <div id="text3" class="hidden">
                <h1>Grammar Check:</h1>
                <h3>Polish your lyrics to perfection; every word matters!</h3>
            </div>
            <div id="text4" class="hidden">
                <h1>Connect & Collaborate:</h1>
                <h3>Collaborate with fellow artists, bring melodies to life!</h3>
            </div>
        </div>
        <br><br><br><br>
    </div>
</div>
</div>
<!--3rd div-->
<div class="bg-index2">
    <div class="container border-top border-white text-center">
        <div class="row pt-5 pb-5">

            <div class="col-12 col-md-8 contents-reverse">
                <div class="row pt-5">
                    <div class="col-12 col-md pt-2 d-flex justify-content-center">
                        <div class="card1">
                            <div class="first-content1 text-center">
                                <div class="row pb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-trophy" viewBox="0 0 16 16">
                                        <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
                                    </svg>
                                </div>
                                <div class="row">
                                    <span class="card-title">Earn Badges</span>
                                </div>
                            </div>
                            <div class="second-content1">
                                <div class="container">
                                    <span class="card-text-2">Accomplish challenges to earn badges, showcasing your achievements on your profile for a distinguished presence.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md pt-2 d-flex justify-content-center">
                        <div class="card1">
                            <div class="first-content1 text-center">
                                <div class="row pb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                                    </svg>
                                </div>
                                <div class="row">
                                    <span class="card-title">Connect through Lyrics</span>
                                </div>
                            </div>
                            <div class="second-content1">
                                <div class="container">
                                    <span class="card-text-2">Engage in vibrant discussions, explore diverse perspectives, and
                                    witness the magic when words collide and creativity sparks.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md pt-2 d-flex justify-content-center">
                        <div class="card1">
                            <div class="first-content1 text-center">
                                <div class="row pb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                    </svg>
                                </div>
                                <div class="row">
                                    <span class="card-title">Community Spirit</span>

                                </div>
                            </div>
                            <div class="second-content1">
                                <div class="container">
                                    <span class="card-text-2">Be part of a tight-knit community of music lovers, lyric
                                    enthusiasts, and poets. Discover new artists, and make
                                    meaningful connections.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-12 col-md pt-2 d-flex justify-content-center">
                        <div class="card1">
                            <div class="first-content1 text-center">
                                <div class="row pb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-ui-checks" viewBox="0 0 16 16">
                                        <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zM2 1a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm0 8a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H2zm.854-3.646a.5.5 0 0 1-.708 0l-1-1a.5.5 0 1 1 .708-.708l.646.647 1.646-1.647a.5.5 0 1 1 .708.708l-2 2zm0 8a.5.5 0 0 1-.708 0l-1-1a.5.5 0 0 1 .708-.708l.646.647 1.646-1.647a.5.5 0 0 1 .708.708l-2 2zM7 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zm0-5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                                    </svg>
                                </div>
                                <div class="row">
                                    <span class="card-title">Real-Time Feedback</span>
                                </div>
                            </div>
                            <div class="second-content1">
                                <div class="container">
                                    <span class="card-text-2">Watch as your lyrics come to life with real-time comments and
                                    reactions. Feel the pulse of the crowd as they resonate with your words.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md pt-2 d-flex justify-content-center">
                        <div class="card1">
                            <div class="first-content1 text-center">
                                <div class="row pb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-globe-americas" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                                    </svg>
                                </div>
                                <div class="row">
                                    <span class="card-title">Universal Language</span>
                                </div>
                            </div>
                            <div class="second-content1">
                                <div class="container">
                                    <span class="card-text-2">Lyrics transcend boundaries. Explore verses from different cultures, languages, and genres, celebrating the beauty of music that unites us all.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md pt-2 d-flex justify-content-center">
                        <div class="card1">
                            <div class="first-content1 text-center">
                                <div class="row pb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-shield-plus" viewBox="0 0 16 16">
                                        <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
                                        <path d="M8 4.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V9a.5.5 0 0 1-1 0V7.5H6a.5.5 0 0 1 0-1h1.5V5a.5.5 0 0 1 .5-.5z"/>
                                    </svg>
                                </div>
                                <div class="row">
                                    <span class="card-title">Safe Space</span>
                                </div>
                            </div>
                            <div class="second-content1">
                                <div class="container">
                                    <span class="card-text-2">Express yourself without judgment. LyricVerse is your sanctuary to share without fear, connect without barriers, and collaborate without limits.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-4 contents-reverse">
                <h2 class="mt-5">Lost for words?</h2>
                <h1>Shakespeare Ai</h1>
                <br>
                <p>
                <ul>
                    <li class="pb-4">
                        <span>Shakespeare" is an advanced AI-powered chat bot designed to assist aspiring songwriters in creating compelling and evocative lyrics. This innovative tool leverages state-of-the-art natural language processing and machine learning to provide suggestions, generate rhymes, offer creative prompts, and even help with refining existing lyrics.</span>
                    </li>

                    <li>
                        <span>With Shakespeare, songwriters can tap into a wellspring of creativity, receiving invaluable assistance in crafting lyrics that resonate with their audience. It is the perfect companion for both seasoned songwriters looking for inspiration and novices seeking guidance in the world of songwriting.</span>

                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>


<script>
    let video = document.getElementById('myVideo');

    function playVideo() {
        video.play();
    }

    setTimeout(playVideo, 1); // Delayed playback after 1 second
</script>

<script>
    const textIds = ["text1", "text2", "text3", "text4"];
    let currentIndex = 0;

    function changeText() {
        // Hide all text elements
        textIds.forEach(id => {
            document.getElementById(id).classList.remove("visible");
            document.getElementById(id).classList.add("hidden");
        });

        const currentTextId = textIds[currentIndex];
        // Show the current text element
        document.getElementById(currentTextId).classList.add("visible");

        currentIndex = (currentIndex + 1) % textIds.length;
    }

    // Call the changeText function immediately to display the first text
    changeText();

    // Call the changeText function every 4 seconds
    setInterval(changeText, 4000);


</script>

<!--<div th:insert="partials/carousel :: carousel"></div>-->
<div th:insert="partials/footer :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>