<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/head :: head">
    <title>Sonnet Studio (landing page)</title>
</head>
<div th:insert="partials/navbar :: nav-bar"></div>
<body >
<!--1st Div-->
<div class="border-bottom border-dark">
    <div class="container">
        <div class="row py-5 contents">
            <div class="col">
                <h1> SONNET STUDIOS </h1>
                <p> Dive into a universe where words dance to the rhythm of your soul! LyricVerse beckons you into a
                    world where lyrics transform into conversations, where your poetic expressions find a global stage,
                    and where every word resonates like a chord in a heart-stirring melody.</p>
            </div>
            <div class="col ">
                <div class="card blurry-bg" style="height: 100%">
                    <div class="card-body">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- 2nd Dic-->
<div class="bg-index2">
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-8 contents-reverse">
                <div class="row pt-5 pb-5">
                    <div class="col">
                        <div class="card1">
                            <div class="first-content1 text-center">
                                <span class="card-title">Share Your Muse</span>
                            </div>
                            <div class="second-content1">
                                <div class="container">
                                    <span class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col ">
                        <div class="card1">
                            <div class="first-content1 text-center">
                                <span class="card-title">Connect through Lyrics</span>
                            </div>
                            <div class="second-content1">
                                <div class="container">
                                    <span class="card-text">Engage in vibrant discussions, explore diverse perspectives, and
                                    witness the magic when words collide and creativity sparks.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card1">
                            <div class="first-content1 text-center">
                                <span class="card-title">Community Spirit</span>
                            </div>
                            <div class="second-content1">
                                <div class="container">
                                    <span class="card-text">Be part of a tight-knit community of music lovers, lyric
                                    enthusiasts, and poets. Discover new artists, discuss timeless classics, and make
                                    meaningful connections.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-5">

                    <div class="col">
                        <div class="card1">
                            <div class="first-content1 text-center">
                                <span class="card-title">Real-Time Feedback</span>
                            </div>
                            <div class="second-content1">
                                <div class="container">
                                    <span class="card-text">Watch as your lyrics come to life with real-time comments and
                                    reactions. Feel the pulse of the crowd as they resonate with your words.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card1">
                            <div class="first-content1 text-center">
                                <span class="card-title">Universal Language</span>
                            </div>
                            <div class="second-content1">
                                <div class="container">
                                    <span class="card-text">Lyrics transcend boundaries. Explore verses from different cultures, languages, and genres, celebrating the beauty of music that unites us all.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card1">
                            <div class="first-content1 text-center">
                                <span class="card-title">Safe Space</span>
                            </div>
                            <div class="second-content1">
                                <div class="container">
                                    <span class="card-text">Express yourself without judgment. LyricVerse is your sanctuary to share without fear, connect without barriers, and collaborate without limits.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 contents-reverse">
                <h3> Test </h3>
                <h1> Testing</h1>
                <br>
                <p>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolor eaque illo nesciunt obcaecati optio perspiciatis quam repellendus, rerum saepe sapiente suscipit voluptatibus. Cupiditate, dolorem inventore non perspiciatis vitae voluptates.</span><span>Ab accusamus accusantium amet dolorum eius eligendi, eos eveniet ex harum illum inventore laboriosam laborum magnam magni maiores odit officia pariatur quae qui quia suscipit tenetur ullam unde voluptate voluptatibus.</span>
                </p>
            </div>
        </div>
    </div>
</div>

<!--<div th:insert="partials/carousel :: carousel"></div>-->
<div th:insert="partials/footer :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>